{{- if .Values.kernelModule.enabled }}
apiVersion: kmm.sigs.x-k8s.io/v1beta1
kind: Module
metadata:
  name: {{ .Values.kernelModule.moduleName }}
  namespace: {{ include "mock-device.namespace" . }}
  labels:
    {{- include "mock-device.labels" . | nindent 4 }}
spec:
  moduleLoader:
    container:
      modprobe:
        moduleName: {{ .Values.kernelModule.moduleName }}
      imagePullPolicy: {{ .Values.kernelModule.image.pullPolicy }}
      kernelMappings:
        {{- toYaml .Values.kernelModule.kernelMappings | nindent 8 }}
  selector:
    {{- toYaml .Values.kernelModule.nodeSelector | nindent 4 }}
{{- end }}
